<nav class="navbar navbar-expand-lg navbar-dark bg-custom px-4">
  <a class="navbar-brand custom-font" routerLink="/">User Dashboard</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link custom-font" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link custom-font" routerLink="/form" routerLinkActive="active">Add User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link custom-font" routerLink="/counter" routerLinkActive="active">Counter</a>
      </li>
    </ul>
  </div>
</nav>
